<h1>建物一覧</h1>
<h3>総延床面積：<%= @total_floor_area %>㎡</h3>

<%= link_to '新規建物', new_building_path %>

<ul>
  <% @buildings.each do |building| %>
    <li><%= link_to building.building_number, building %>   <%= building.name %></li>
  <% end %>
</ul>